* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: grid;
  font-family: "Inter", sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
}

body {
  display: grid;
  grid-template-rows: 5rem 1fr 5rem;
}

h1 {
  display: block;
  padding-top: env(safe-area-inset-top);
  padding: 15px;
  color: #1d4ed8;
  font-size: 30px;
  font-weight: bolder;
  align-content: center;
  text-align: left;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 900;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 1rem;
}

textarea {
  resize: none;
  width: 50rem;
  height: 30rem;
  margin-bottom: 1rem;
}

.inputBio {
  resize: none;
  width: 20rem;
  height: 10rem;
  margin-bottom: 1rem;
}

textarea::placeholder {
  font-size: 2vh;
}

input {
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.75rem;
  border: 2px solid #e5e7eb;
  margin-bottom: 0.25rem;
  width: 20rem;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 1.5vh;
}

input::placeholder {
  color: #a3a3a3;
}

button {
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  width: 20rem;
  color: white;
  border: none;
  background-color: #1d4ed8;
  padding: 0.75rem;
  font-weight: 700;
  /* box-shadow: inset 0 2px 4px rgba(24, 61, 183, 0.5); */
  cursor: pointer;
  font-size: 1.5vh;
}

footer {
  border-top: #000 solid 0.1rem;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.5vh;
}

#header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fff;
  border-bottom: 1px solid #1d4e88;
  position: sticky;
  top: 0;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: end;
}

li {
  margin: 2rem;
  color: #1d4ed8;
  border: 1px solid #1d4e88;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

li:hover {
  background-color: #1d4ed8;
  color: white;
}

h2 {
  text-align: center;
  align-content: center;
}

h5 {
  margin: 0.25rem;
  cursor: pointer;
}

.feed {
  padding: 3rem;
}

hr {
  margin: 1rem 0;
}

.logout {
  border: #1d4ed8 solid 0.15rem;
  color: #1d4ed8;
  background-color: #fff;
}

.logout:hover {
  border: none;
  color: #fff;
  background-color: #1d4ed8;
}

.card {
  display: grid;
  margin: 3rem;
  padding: 4rem;
  border: 1px solid #1d4ed8;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3rem;
  justify-items: center;
}
