* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  background-color: #fff;
}

#main_break {
  margin: 400px 5rem 0rem 5rem;
}

hr {
  margin: 2rem;
}

h1 {
  display: block;
  padding-top: env(safe-area-inset-top);
  padding: 15px;
  color: #1d4ed8;
  font-size: 30px;
  font-weight: bolder;
}

h2 {
  margin-top: 12rem;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 900;
}

.underline {
  color: gray;
  font-weight: 900;
  display: inline-block;
  border-bottom: 2px solid lightgrey;
  width: 100px;
  padding-bottom: 2px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 1rem;
}

textarea {
  resize: none;
  width: 275px;
  text-align: center;
}

input {
  border-radius: 12px;
  text-align: center;
  padding: 10px;
  border: 2px solid #e5e7eb;
  margin-bottom: 5px;
  width: 300px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

input::placeholder {
  color: #a3a3a3;
}

a {
  text-decoration: none;
  font-size: 10px;
  display: inline-block;
}

.checkbox {
  color: #1d4ed8;
  font-size: 15px;
}

button {
  margin: 5px;
  border-radius: 12px;
  width: 300px;
  color: white;
  border: none;
  background-color: #1d4ed8;
  padding: 12px;
  font-weight: 700;
  box-shadow: inset 0 2px 4px rgba(24, 61, 183, 0.5);
}

a {
  color: black;
  font-weight: 500;
}

.font-size {
  font-size: 10px;
  color: black;
  font-weight: 300;
}

.font {
  font-weight: 700;
  font-size: 15px;
  color: #1d4ed8;
}

.paragraph {
  font-weight: bold;
  font-size: 25px;
}

.button {
  border: none;
  background-color: #1d4ed8;
  width: 270px;
  padding: 8px;
  border-radius: 16px;
  box-shadow: inset 0 2px 4px rgba(24, 61, 183, 0.5);
}

footer {
  text-align: center;
  padding: 1.5rem;
  font-size: 14px;
}
